.js__slide .tastes__photo.js__img_right
    transform translateX(380px) scale(.8) rotate(30deg)
.js__slide .tastes__photo.js__img_left
    transform translateX(-380px) scale(.8) rotate(-30deg)
	
@media only screen and (max-width: 340px) 
	.js__slide .tastes__photo.js__img_right
        transform translateX(310px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
        transform translateX(-310px) scale(.8) rotate(-30deg)
    .sandwich__transition
        transition all 1.5s ease
    
@media only screen and (min-width: 376px) and (max-width: 414px)
	.js__slide .tastes__photo.js__img_right
        transform translateX(414px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
        transform translateX(-414px) scale(.8) rotate(-30deg)

@media only screen and (min-width: 376px) and (max-width: 414px)
	.js__slide .tastes__photo.js__img_right
       transform translateX(414px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
        transform translateX(-414px) scale(.8) rotate(-30deg)

.js__pancakes__icon_none
    display none
    
.js__sandwich_none
    opacity 0
.sandwich__icontitle.js__sandwich__title_left
    transform translateX(-300px) scale(0)
.sandwich__icontext.js__sandwich__text_right
    transform translateX(100%) scale(0)
.sandwich__transition
    transition all 1.5s cubic-bezier(0.34, 0.08, 0.35, 1.04)
// cubic-bezier(1, -0.23, 0, 1.62)