.js__slide .tastes__photo.js__img_right
    transform translateX(380px) scale(.8) rotate(30deg)
.js__slide .tastes__photo.js__img_left
    transform translateX(-380px) scale(.8) rotate(-30deg)
	
@media only screen and (max-width: 340px) 
	.js__slide .tastes__photo.js__img_right
    transform translateX(310px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
    transform translateX(-310px) scale(.8) rotate(-30deg)
    
@media only screen and (min-width: 376px) and (max-width: 414px)
	.js__slide .tastes__photo.js__img_right
    transform translateX(414px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
    transform translateX(-414px) scale(.8) rotate(-30deg)

@media only screen and (min-width: 376px) and (max-width: 414px)
	.js__slide .tastes__photo.js__img_right
    transform translateX(414px) scale(.8) rotate(30deg)
	.js__slide .tastes__photo.js__img_left
    transform translateX(-414px) scale(.8) rotate(-30deg)
