header
	height 100px

.head-inner
	height 100px
	width 600px
	margin 0 auto
	border 1px solid red

.head-inner__logo
	float left
	height 100%
	border 1px solid red		
	
.head-inner__navi
	float right
	width 300px
	height 100%
	background silver

.head-inner__cols
	vertical-align center