@font-face {
  font-family: Alegreya;
  src: url("../fonts/AlegreyaSans-Light.otf");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/playfairdisplaybold.ttf");
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/ProximaNova.ttf");
}
@font-face {
  font-family: Scriptina;
  src: url("../fonts/scriptina.ttf");
}
html {
  font: 9px Alegreya;
  letter-spacing: 0.5em;
}
.container1 {
  height: 900px;
  background: url("../img/hero.jpg") no-repeat 0 0;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
}
.header {
  width: 100%;
  height: 70px;
  background: url("../img/navi_bg.png");
}
.header__wrapper {
  min-width: 1260px;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
}
.header__logo {
  float: left;
  width: 140px;
  height: 100%;
  margin-left: 170px;
  background: url("../img/gustoso.png") no-repeat 0 50%;
  line-height: 70px;
  opacity: 0.7;
}
.header__navi {
  width: 720px;
  height: 70px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
  color: #f3f2f1;
}
.header__link {
  display: inline-block;
  margin: 0 20px;
  font-size: 10px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #f3f2f1;
}
.header__link:link,
.header__link:visited {
  color: #f3f2f1;
}
.header__social {
  float: right;
  width: 95px;
  height: 70px;
  margin-right: 170px;
  line-height: 70px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  width: 95px;
  height: 20px;
}
.header__icon-link {
  display: inline-block;
  width: 16px;
  height: 20px;
}
.header__icon-link_twitter {
  background: url("../img/logo.png") 0 0 no-repeat;
}
.header__icon-link_facebook {
  margin: 0 22px;
  background: url("../img/logo.png") 50% 0 no-repeat;
}
.header__icon-link_instagram {
  background: url("../img/logo.png") 100% 0 no-repeat;
}
.hero {
  position: relative;
  min-width: 1260px;
  max-width: 1600px;
  height: 830px;
  line-height: 830px;
  margin: 0 auto;
  text-align: center;
}
.hero__wrapper {
  display: inline-block;
  height: 400px;
  width: 765px;
  vertical-align: middle;
  line-height: 10em;
}
.hero__caption {
  display: inline-block;
  width: 765px;
  height: 93px;
  margin: 0 auto;
  font: 85px Playfair;
  font-weight: 600;
  line-height: 93px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0.5px 0.9px 0px #3d3029;
}
.hero__line {
  display: inline-block;
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 1em;
  background: url("../img/heroline.png") no-repeat 50% 70%;
}
.hero__description {
  display: inline-block;
  width: 580px;
  height: 57px;
  font: 20px Proxima;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0.5px 0.9px 0px #3d3029;
}
.hero__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  background: rgba(1,1,1,0.3);
  font-size: 14px;
  font-weight: 900;
  text-shadow: 0.5px 0.9px 0px #3d3029;
  line-height: 50px;
}
.hero__button_phone {
  display: none;
}
.hero__button:link,
.hero__button:visited {
  color: #fff;
}
.backery {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: -4px;
  width: 108px;
  height: 106px;
  z-index: 999;
  background: url("../img/border_bullets.png") no-repeat;
  background-attachment: cover;
}
.border {
  min-width: 1260px;
  width: 100%;
  background-size: cover;
  height: 10px;
  background: #fff;
  background-size: cover;
}
.container2 {
  background: url("../img/art-of-cakes.jpg") no-repeat;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
  height: 750px;
  text-align: center;
}
.wrapper {
  display: inline-block;
  min-width: 1260px;
  max-width: 1600px;
  height: 750px;
  text-align: center;
  line-height: 750px;
}
.art {
  display: inline-block;
  width: 620px;
  height: 580px;
  line-height: 580px;
  text-align: center;
  letter-spacing: 1px;
}
.art__wrap {
  display: inline-block;
  width: 480px;
  padding: 0 70px;
  line-height: normal;
  vertical-align: middle;
}
.art__caption {
  display: inline-block;
  width: 280px;
  height: 70px;
  margin-bottom: 30px;
  font: 35px Alegreya;
  text-align: center;
  font-weight: 900;
}
.art__we {
  font-size: 12px;
  text-transform: uppercase;
  color: #a47d5e;
}
.art__text {
  display: inline-block;
  width: 475px;
  margin-bottom: 30px;
  text-align: center;
  font: 13px Proxima;
  line-height: 1.5em;
}
.art__chef {
  margin-bottom: 30px;
  font: 18px Alegreya;
  font-weight: 900;
}
.art__photo {
  display: inline-block;
  width: 370px;
  height: 100px;
  margin-bottom: 10px;
  line-height: 100px;
}
.art__name {
  display: inline-block;
  width: 110px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d4ca;
}
.art__picture {
  margin: 0 20px;
  vertical-align: middle;
}
.art__quote {
  display: inline-block;
  width: 430px;
  height: 100px;
  line-height: 100px;
  color: #a47d5e;
}
.art__cite {
  display: inline-block;
  width: 240px;
  height: 60px;
  font: 20px Scriptina;
  line-height: 1.4em;
  vertical-align: middle;
}
.art__quote span {
  display: inline-block;
  font-family: "Times New Roman" Times serif;
  font-size: 60px;
}
.left {
  height: 30px;
  line-height: 1em;
  margin-right: 50px;
  vertical-align: top;
}
.right {
  height: 30px;
  line-height: 1em;
  margin-left: 50px;
  vertical-align: bottom;
}
.tastes {
  display: inline-block;
  width: 620px;
  height: 580px;
  line-height: 580px;
  vertical-align: middle;
}
.tastes__sogood {
  display: inline-block;
  position: relative;
  line-height: normal;
  vertical-align: middle;
}
.tastes__sogood:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 247px;
  height: 247px;
  background: url("../img/vector.png");
  opacity: 0.95;
}
.tastes__one {
  background: url("../img/img.jpg");
  margin: 0 20px 20px 0;
}
.tastes__two {
  background: url("../img/img0.jpg");
  margin-bottom: 20px;
}
.tastes__three {
  background: url("../img/img1.jpg");
  margin-right: 20px;
}
.tastes__four {
  background: url("../img/img2.jpg");
}
.tastes__photo {
  display: inline-block;
  position: relative;
  width: 294px;
  height: 252px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.tastes__photo:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 275px;
  height: 230px;
  border: 5px solid #fff;
}
.container3 {
  height: 760px;
  background: url("../img/placeholder.jpg");
  text-align: center;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
}
.pancakes {
  display: inline-block;
  min-width: 1260px;
  max-width: 1600px;
  height: 760px;
  line-height: 760px;
}
.pancakes__wrapper {
  position: relative;
  display: inline-block;
  width: 1080px;
  height: 600px;
  line-height: normal;
  vertical-align: middle;
}
.pancakes__widget {
  position: absolute;
  bottom: 0;
  width: 970px;
  height: 520px;
  -webkit-box-shadow: 3px -5px 43px -9px #bbb;
          box-shadow: 3px -5px 43px -9px #bbb;
  background: url("../img/widget/4.jpg") no-repeat -430px -70px;
  background-size: 110%;
}
.pancakes__description {
  position: absolute;
  right: 0;
  width: 430px;
  height: 420px;
  padding: 60px 60px 40px;
  font-family: Alegreya;
  text-align: left;
  background: url("../img/widget/vektor.jpg") no-repeat 100% 100%;
  background-size: 200%;
}
.pancakes__description:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
  background: #fff url("../img/widget/menu.png") no-repeat 50% 50%;
}
.pancakes__name {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 900;
}
.pancakes__subtitle {
  margin-bottom: 60px;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 900;
  color: #a47d5e;
}
.pancakes__text {
  width: 398px;
  font: 12px Proxima;
  line-height: 2em;
  letter-spacing: 2px;
  font-weight: 600;
}
.pancakes__rating {
  display: inline-block;
  margin: 40px 0 55px -2px;
}
.pancakes__star {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 0;
  margin-right: 14px;
  cursor: pointer;
  background: url("../img/widget/starok.png");
}
.pancakes__star_none {
  background: url("../img/widget/starnone.png");
}
.pancakes__slider {
  position: relative;
  width: 430px;
  height: 90px;
  text-align: center;
}
.pancakes__slider:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background: url("../img/widget/leftarrow.png");
}
.pancakes__slider:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 32px;
  height: 32px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background: url("../img/widget/rightarrow.png");
}
.pancakes__icon {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 90px;
          border-radius: 90px;
}
.pancakes__slider img:nth-child(2) {
  margin: 0 30px;
}
.pancakes__minutes {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -12px 11px 73px 0px #bbb;
          box-shadow: -12px 11px 73px 0px #bbb;
  font: 14px Alegreya;
  font-weight: 900;
  letter-spacing: 4px;
  color: #a47d5e;
  background: url("../img/widget/ready-in.jpg");
  z-index: 999;
}
.pancakes__ready {
  line-height: 75px;
}
.pancakes__digits {
  margin-top: -10px;
  font-size: 100px;
  line-height: 90px;
  color: #dfc691;
}
.pancakes__mins {
  color: #979285;
}
.container4 {
  background: url("../img/breakfast/bg.jpg");
  min-width: 1260px;
  width: 100%;
  background-size: cover;
  height: 760px;
  text-align: center;
}
.breakfast__wrapper {
  display: inline-block;
  min-width: 1260px;
  max-width: 1600px;
  height: 760px;
  line-height: 760px;
  text-align: center;
}
.breakfast__price {
  display: inline-block;
  width: 620px;
  height: 760px;
  line-height: 760px;
  font-family: Alegreya;
  letter-spacing: 2px;
  vertical-align: top;
  font-weight: 900;
  color: #fff;
}
.breakfast__inline {
  display: inline-block;
  margin-left: 100px;
  line-height: normal;
  vertical-align: middle;
}
.breakfast__caption {
  font: 45px Alegreya;
  letter-spacing: 3px;
}
.breakfast__subtitle {
  font: 12px Alegreya;
  color: #c8a593;
  margin-bottom: 50px;
}
.breakfast__one {
  font-size: 22px;
  color: #fff;
}
.breakfast__onetitle {
  font-size: 12px;
  color: #c2beba;
  line-height: 3em;
}
.breakfast__onemoney {
  font-size: 28px;
  color: #dfc691;
  margin-bottom: 50px;
}
.breakfast__two {
  font-size: 22px;
  color: #fff;
}
.breakfast__twotitle {
  font-size: 12px;
  color: #c2beba;
  line-height: 3em;
}
.breakfast__twomoney {
  font-size: 28px;
  color: #dfc691;
  margin-bottom: 50px;
}
.breakfast__three {
  font-size: 22px;
  color: #fff;
}
.breakfast__threetitle {
  font-size: 12px;
  color: #c2beba;
  line-height: 3em;
}
.breakfast__threemoney {
  font-size: 28px;
  color: #dfc691;
}
.book {
  position: relative;
  display: inline-block;
  width: 620px;
  height: 760px;
  line-height: normal;
  font-family: Alegreya;
  color: #56534c;
}
.book__wrapper {
  position: absolute;
  top: 50%;
  right: 70px;
  width: 440px;
  height: 600px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.book__one {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 3px 0 100px 5px #000;
          box-shadow: 3px 0 100px 5px #000;
  background: url("../img/breakfast/book.png");
  z-index: 4;
  overflow: hidden;
}
.book__oneyear {
  position: absolute;
  top: 55px;
  left: 50%;
  width: 230px;
  height: 10px;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
}
.book__oneleft {
  float: left;
}
.book__oneright {
  float: right;
}
.book__oneicon {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 33px;
  background: url("../img/breakfast/icon1.png");
}
.book__onecaption {
  width: 335px;
  margin: 220px auto 45px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.book__onetext {
  width: 335px;
  margin: 0 auto 55px;
  font: 12px Proxima;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 2px;
}
.book__button {
  width: 190px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 900;
  line-height: 50px;
  border: 1px solid #56534c;
  color: #aa866a;
}
.book__two {
  position: absolute;
  top: 0;
  left: 25px;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.95, 0.95);
      -ms-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
  text-align: center;
  background: url("../img/breakfast/book.png");
  z-index: 3;
  overflow: hidden;
}
.book__twoyear {
  position: absolute;
  top: 55px;
  left: 50%;
  width: 230px;
  height: 10px;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
}
.book__twoleft {
  float: left;
}
.book__tworight {
  float: right;
}
.book__twoicon {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
  width: 40px;
  height: 33px;
  background: url("../img/breakfast/icon2.png") no-repeat;
}
.book__twocaption {
  width: 335px;
  margin: 220px auto 45px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.book__twotext {
  width: 335px;
  margin: 0 auto 55px;
  font: 12px Proxima;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 2px;
}
.book__button {
  width: 190px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 900;
  line-height: 50px;
  border: 1px solid #56534c;
  color: #aa866a;
}
.book__three {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  text-align: center;
  background: url("../img/breakfast/book.png");
  z-index: 2;
  overflow: hidden;
}
.book__threeyear {
  position: absolute;
  top: 55px;
  left: 50%;
  width: 230px;
  height: 10px;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
}
.book__threeleft {
  float: left;
}
.book__threeright {
  float: right;
}
.book__threeicon {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 33px;
  background: url("../img/breakfast/icon1.png");
}
.book__threecaption {
  width: 335px;
  margin: 220px auto 45px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.book__threetext {
  width: 335px;
  margin: 0 auto 55px;
  font: 12px Proxima;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 2px;
}
.book__button {
  width: 190px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 900;
  line-height: 50px;
  border: 1px solid #56534c;
  color: #aa866a;
}
.container5 {
  height: 920px;
  background: #f3f1e9;
  text-align: center;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
}
.sandwich {
  position: relative;
  display: inline-block;
  min-width: 1260px;
  max-width: 1600px;
  height: 100%;
}
.sandwich__left {
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 292px;
  height: 792px;
}
.sandwich__minimap {
  width: 292px;
  height: 264px;
  letter-spacing: 1px;
}
.sandwich__icon {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  margin: 30px 0 18px;
  font-size: 0;
  -webkit-box-shadow: -1px 7px 10px #dddcd5;
          box-shadow: -1px 7px 10px #dddcd5;
}
.sandwich__icontitle {
  margin-bottom: 18px;
  font-size: 30px;
  font-weight: 900;
  color: #a47d5e;
}
.sandwich__icontext {
  font-size: 13px;
  font-weight: 900;
}
.sandwich__caption {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 170px;
  letter-spacing: 1px;
  font-weight: 900;
  background: url("../img/sandwich/mill.png") no-repeat 50% 30%;
  background-size: 25%;
}
.sandwich__title {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 500px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 42px;
}
.sandwich__subtitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 500px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px;
  color: #a47d5e;
}
.sandwich__recipe {
  position: absolute;
  bottom: 110px;
  right: 0;
  width: 822px;
  height: 538px;
  border: 10px solid #fff;
  -webkit-box-shadow: -1px 7px 10px #dddcd5;
          box-shadow: -1px 7px 10px #dddcd5;
  background: url("../img/widget/3.jpg");
  background-size: cover;
}
.sandwich__button {
  position: absolute;
  left: -32px;
  bottom: -28px;
  width: 171px;
  height: 60px;
  border: 1px dashed #dfc691;
  line-height: 60px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  background: #fff;
  color: #dfc691;
}
.sandwich__mins {
  position: absolute;
  top: 50%;
  right: 0;
  width: 200px;
  height: 601px;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: -1px 7px 10px #dddcd5;
          box-shadow: -1px 7px 10px #dddcd5;
}
.sandwich__prep {
  width: 200px;
  height: 200px;
  margin-bottom: 1px;
  line-height: 200px;
  opacity: 0.7;
  background: #fff;
}
.sandwich__cook {
  width: 200px;
  height: 200px;
  line-height: 200px;
  opacity: 0.7;
  background: #fff;
}
.sandwich__ready {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background: url("../img/widget/ready-in.jpg");
  background: cover;
}
.sandwich__mins-wrap {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.sandwich__what {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #a47d5e;
}
.sandwich__num {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 3px;
}
.sandwich__num_gold {
  font-size: 85px;
  color: #dfc691;
}
.sandwich__subnum {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #979285;
}
footer {
  height: 240px;
  background: #f3f1e9;
  text-align: center;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
}
.foot {
  display: inline-block;
  height: 100%;
  min-width: 1260px;
  max-width: 1600px;
  line-height: 240px;
}
.foot__wrapper {
  display: inline-block;
  width: 100%;
  height: 71px;
  vertical-align: middle;
  line-height: normal;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
}
.foot__list-left {
  float: left;
  width: 440px;
  height: 71px;
  padding: 0 20px;
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
  line-height: 71px;
  background: #efece1;
  -webkit-box-shadow: 15px 0px 20px #efece1, -15px 0px 20px #efece1;
          box-shadow: 15px 0px 20px #efece1, -15px 0px 20px #efece1;
}
.foot__list-left-element {
  display: inline-block;
  margin: 0 19px;
}
.foot__logo {
  display: inline-block;
  height: 71px;
  font: 40px Scriptina;
  line-height: 71px;
  letter-spacing: 8px;
}
.foot__list-right {
  float: right;
  width: 440px;
  height: 100%;
  padding: 0 20px;
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
  line-height: 71px;
  background: #efece1;
  -webkit-box-shadow: 15px 0px 20px #efece1, -15px 0px 20px #efece1;
          box-shadow: 15px 0px 20px #efece1, -15px 0px 20px #efece1;
}
.foot__list-right-element {
  display: inline-block;
  margin: 0 19px;
}

/*# sourceMappingURL=style.css.map */
