@font-face {
  font-family: Alegreya;
  src: url("../fonts/AlegreyaSans-Light.otf");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/playfairdisplaybold.ttf");
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/ProximaNova.ttf");
}
@font-face {
  font-family: Scriptina;
  src: url("../fonts/scriptina.ttf");
}
html {
  font: 9px Alegreya;
  letter-spacing: 0.5em;
}
.container1 {
  height: 900px;
  background: url("../img/hero.jpg") no-repeat 0 0;
  min-width: 1260px;
  width: 100%;
  background-size: cover;
}
.header {
  width: 100%;
  height: 70px;
  background: url("../img/navi_bg.png");
}
.header__wrapper {
  min-width: 1260px;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
}
.header__logo {
  float: left;
  width: 140px;
  height: 100%;
  margin-left: 170px;
  background: url("../img/gustoso.png") no-repeat 0 50%;
  line-height: 70px;
  opacity: 0.7;
}
.header__navi {
  width: 720px;
  height: 70px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
  color: #f3f2f1;
}
.header__link {
  display: inline-block;
  margin: 0 30px;
  color: #f3f2f1;
}
.header__link:link,
.header__link:visited {
  color: #f3f2f1;
}
.header__social {
  float: right;
  width: 95px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin-right: 170px;
}
.header__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  width: 95px;
  height: 20px;
}
.header__icon-link {
  display: inline-block;
  width: 16px;
  height: 20px;
}
.header__icon-link_twitter {
  background: url("../img/logo.png") 0 0 no-repeat;
}
.header__icon-link_facebook {
  margin: 0 22px;
  background: url("../img/logo.png") 50% 0 no-repeat;
}
.header__icon-link_instagram {
  background: url("../img/logo.png") 100% 0 no-repeat;
}
.hero {
  position: relative;
  min-width: 1260px;
  max-width: 1600px;
  height: 830px;
  line-height: 830px;
  margin: 0 auto;
  text-align: center;
}
.hero__wrapper {
  display: inline-block;
  height: 400px;
  width: 765px;
  vertical-align: middle;
  line-height: 10em;
}
.hero__caption {
  display: inline-block;
  width: 765px;
  height: 93px;
  margin: 0 auto;
  font: 92px Playfair Arial;
  font-weight: 600;
  line-height: 93px;
  text-align: center;
  color: #fff;
  text-shadow: 0.5px 0.9px 0px #3d3029;
}
.hero__line {
  display: inline-block;
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 1em;
  background: url("../img/heroline.png") no-repeat 50% 70%;
}
.hero__description {
  display: inline-block;
  width: 580px;
  height: 57px;
  font: 20px Proxima;
  text-align: center;
  line-height: 1.5;
  color: #f3f2f2;
  text-shadow: 0.5px 0.9px 0px #3d3029;
}
.hero__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  background: rgba(1,1,1,0.3);
  font-size: 14px;
  font-weight: 900;
  text-shadow: 0.5px 0.9px 0px #3d3029;
  line-height: 50px;
}
.hero__button:link,
.hero__button:visited {
  color: #fff;
}
.backery {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: -4px;
  width: 108px;
  height: 106px;
  z-index: 999;
  background: url("../img/border_bullets.png") no-repeat;
  background-attachment: cover;
}
.border {
  min-width: 1260px;
  width: 100%;
  background-size: cover;
  height: 10px;
  background: #fff;
  background-size: cover;
}
.container2 {
  min-width: 1260px;
  width: 100%;
  background-size: cover;
  height: 750px;
  background: url("../img/art-of-cakes.jpg") no-repeat;
}
.wrapper {
  min-width: 1260px;
  max-width: 1600px;
  height: 750px;
  text-align: center;
  line-height: 750px;
}
.art {
  display: inline-block;
  width: 630px;
  height: 580px;
  line-height: normal;
  vartical-align: middle;
  text-align: center;
  letter-spacing: 1px;
  outline: 1px solid #f00;
}
.art__caption {
  display: inline-block;
  width: 280px;
  height: 70px;
  font: 35px Alegreya;
  text-align: center;
  font-weight: 900;
}
.art__we {
  font-size: 12px;
  text-transform: uppercase;
  color: #a47d5e;
}
.art__text {
  display: inline-block;
  width: 475px;
  text-align: center;
  font: 13px Proxima;
}
.art__chef {
  font: 18px Alegreya;
  font-weight: 900;
}
.art__photo {
  display: inline-block;
  width: 370px;
  height: 100px;
  line-height: 100px;
}
.art__name {
  display: inline-block;
  width: 110px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d4ca;
}
.art__picture {
  margin: 0 20px;
  vertical-align: middle;
}
.tastes {
  display: inline-block;
  width: 630px;
  height: 580px;
  line-height: normal;
  vertical-align: middle;
  outline: 1px solid #f00;
}
.tastes__one {
  background: url("../img/img.jpg");
}
.tastes__two {
  background: url("../img/img0.jpg");
}
.tastes__three {
  background: url("../img/img1.jpg");
}
.tastes__four {
  background: url("../img/img2.jpg");
}
.tastes__photo {
  position: relative;
  display: inline-block;
  width: 298px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.tastes__photo:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 275px;
  height: 230px;
  border: 5px solid #fff;
}

/*# sourceMappingURL=style.css.map */
