@import 'includes/animatephone.styl'
b()
	border 3px solid red
bw()
	min-width 100%
	max-width 100%
	height 100%
dw()
	width 100%
	height auto
html
	width 100%	
	height 100%
	font 15px Alegreya

body
	height 100%
// Размеры

.container1,
.container2,
.container3,
.container4,
.container5,
footer
	bw()
	background-size cover

.header__wrapper,
.hero,
.wrapper,
.pancakes,
.breakfast__wrapper,
.sandwich,
.foot
	bw()

	
.header
	height 20%
	background rgba(1,1,1,0.3)
.header__wrapper
	dw()
	height 100%
.header__logo
	float none
	display block
	height 50%
	margin 0 auto
	
	
.header__navi
	display none
.navi__button
	display inline-block
	position fixed
	right -40px
	top -40px
	z-index 999
	width 100px
	height 100px
	border-radius 50%
	background #000 url('../img/widget/menu.png') 30% 70% no-repeat
	background-size 15%
	opacity .3
	
.header__social
	float none
	dw()
	margin 0 auto
.header__icon
	dw()
.header__icon-link
	width 30px
	height 28px
	margin 0 15px
	background-size cover
	

.hero
	height 80%
	line-height normal
.hero__wrapper
	position absolute
	top 50%
	left 0
	transform translateY(-50%)
	dw()
	line-height 4em
.hero__caption
	dw()
	line-height 1em
	font-size 52px
	letter-spacing 1px
.hero__description
	dw()
	font-size 1.3em
	line-height 1.5em
.hero__button
	display none
.hero__button_phone
	position absolute
	bottom 0
	left 0
	display inline-block
	width 100%
	height 50px
	text-align center
	background rgba(1,1,1,0.3)
	font-size 14px
	font-weight 900
	line-height 50px
.hero__button_phone:link,
.hero__button_phone:visited
	color #fff	

// container2
.container2
	height auto
	padding-bottom 5%
	margin-bottom 15%
.wrapper
	position relative
	width 100%
	height auto
	line-height normal
.art
	dw()
	line-height normal
.art__wrap
	dw()
	padding 5% 0 0
	margin-bottom 15%
.art__caption
	dw()
	margin 5% 0
	font-size 30px
.art__we
	font-size 16px
.art__text
	width 90%
	margin 10% 0
	font-size 16px
	text-align justify
.art__chef
	margin-bottom 3%
	font-size 22px
.art__photo
	dw()
	margin 10% 0 12%
	line-height normal
.art__name
	font-size 22px
	width 50%
	height 50%
	border-radius 10px
	background rgba(200,200,200,0.2)
	box-shadow 0 0 30px 1px #aaa
.art__picture
	float left
	width 95px
	height 95px
	margin 0 3%
.art__quote
	position relative
	dw()
	line-height normal
.art__quote span
	display block
	font-size 50px
.art__cite
	width 80%
	height auto
	font-size 24px
.left
	position absolute
	top -8px
	left 10px
	margin 0
	line-height normal
.right
	position absolute
	bottom -13px
	right 10px
	margin 0
	line-height normal


.tastes
	position relative
	width 95%
	height 252px
	overflow hidden
	line-height 0
	opacity 0
	transition opacity .5s cubic-bezier(1,.07,.32,.27)
.tastes__sogood
	width 100%
	height 100%
	text-align left
.tastes__sogood:after 
	display none
.tastes__photo
	position absolute
	top 0
	left 0
	width 100%
	transition transform .5s ease-out
.tastes__photo:after
	width 92%
	height 92%
	
	
.container3
	position relative
	min-width 100%
	max-width 100%
	height 100%
	// background url(../img/widget/4.jpg) no-repeat 50% 70%
	background none
	background-size 450%
.pancakes
	position absolute
	top 50%
	left 0
	transform translateY(-50%)
	height 100%
	min-width 100%
	max-width 100%
	line-height 1em
.pancakes__wrapper
	bw()
.pancakes__widget
	bw()
	position static
	box-shadow none
	background-image none
.pancakes__description
	position absolute
	top 50%
	left 0
	transform translateY(-50%)
	dw()
	padding 10% 0 0
	text-align center
	box-shadow 3px -5px 43px -9px #bbbbbb
	background-size cover
.pancakes__description:before
	display none
.pancakes__name
	font-size 30px
	letter-spacing 1px
	text-align center
.pancakes__subtitle
	font-size 16px
	letter-spacing 1px
	margin-bottom 10%
.pancakes__text 
	display inline-block
	width 90%
	line-height 1.5em
	text-align justify
	font-size 16px
.pancakes__rating
	float right
	margin 15% 3%
.pancakes__star
	width 18px
	height 18px
	background-size cover
.pancakes__slider
	clear right
	width 50%
	height 130px
	margin 10% 5%
	overflow hidden
	border-radius 30%
.pancakes__slider:before,
.pancakes__slider:after
	display none
.pancakes__icon
	width 100%
	height 100%
.pancakes__slider img:nth-child(2)
	margin 0
.pancakes__minutes
	top 52%
	right 70%
	width 30%
	height 13%
	font-size 12px
	letter-spacing 1px
	box-shadow none
	background none 
.pancakes__ready
	line-height 1em
.pancakes__digits
	font-size 50px
	line-height 1em
	
.container4
	width 100%
	height 110%
	background-size cover
.breakfast__wrapper
	bw()
	line-height 1em
.breakfast__price
	bw()
.breakfast__inline
	bw()
	margin-left 0
	vertical-align top
.breakfast__caption
	margin-top 15%
	font-size 35px
	letter-spacing 2px
.breakfast__subtitle
	margin 0 0 10%
	font-size 16px
	line-height 1em
.breakfast__one
	font-size 22px
	line-height 2.2em
	color #fff
.breakfast__onetitle
	font-size 18px
	line-height 1em
.breakfast__onemoney
	margin 0 0 7%
	font-size 32px
	line-height 1em
.breakfast__two
	font-size 22px
	color #fff
.breakfast__twotitle
	font-size 18px
	line-height 2em
.breakfast__twomoney
	margin 0 0 7%
	font-size 32px
	line-height 1em
.breakfast__three
	font-size 22px
	line-height 2.2em
.breakfast__three
	font-size 22px
	line-height 2em
	color #fff
.breakfast__threetitle
	font-size 18px
	line-height 1em
.breakfast__threemoney
	margin 0 0 7%
	font-size 32px
	line-height 1em

.book 
	display none

.container5
	width 100%
	height 120%
.sandwich
	bw()
.sandwich__left
	left 50%
	top 15%	
	width 80%
	height 35%
	overflow hidden
	transform translateX(-50%)
.sandwich__minimap
	position absolute
	top 0
	left 0
	width 100%
	height 100%
.sandwich__icon
	margin 0
.sandwich__icontitle
	margin-bottom 5%
	font-size 16px
.sandwich__icontext
	font-size 14px
	
	
.sandwich__caption
	position static
	dw()
	padding 5% 0
	background-size 35%
.sandwich__title
	position static
	display inline-block
	dw()
	transform none
	font-size 30px
.sandwich__subtitle
	position static
	display inline-block
	dw()
	transform none	
	font-size 14px
.sandwich__recipe
	width 88%
	height 30%
	bottom 20%
	right 50%
	transform translateX(50%)
	border-width 3px
	background-position 30% 0
.sandwich__button
	left 50%
	bottom -60%
	transform translateX(-50%)
	width 35%
	border-radius 15%
	font-size 10px
	box-shadow -1px 7px 10px #DDDCD5
.sandwich__mins
	top auto
	bottom -14%
	right 50%
	width 110%
	height 44%
	margin 0
	transform translate(50%,0)
	font-size 0
.sandwich__prep
	position relative
	display inline-block
	width 31%
	height 100%
	margin 0
	line-height normal
.sandwich__cook
	position relative
	display inline-block
	width 31%
	height 100%
	margin 0
	line-height normal
.sandwich__ready
	position relative
	display inline-block
	width 31%
	height 100%
	margin 0
	line-height normal
.sandwich__mins-wrap
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)
	line-height 1em
.sandwich__what
	font-size 10px
	line-height 1em
	letter-spacing 1px
.sandwich__num
	font-size 40px
	line-height 1em
	letter-spacing 2px
.sandwich__num_gold
	font-size 50px
.sandwich__subnum
	font-size 12px
	line-height 1em
	letter-spacing 1px
	
footer
	height 30%
	padding-top 10%
.foot
	width 100%
	height 100%
.foot__wrapper
	height auto
	vertical-align top
.foot__list-left
	float none
	width 100%
	height 30px
	line-height 30px
	padding 0
.foot__list-element_none
	display none	
.foot__logo
	width 100%
	height 60px
	font-size 30px
	line-height 40px
.foot__list-right
	float none
	width 100%
	height 30px
	line-height 30px
	padding 0
	
.backery,	
.border
	display none