b()
	border 3px solid red
bw()
	min-width 100%
	max-width 100%
	height 100%
dw()
	width 100%
	height auto
html
	width 100%	
	height 100%
	font 15px Alegreya

body
	height 100%
// Размеры

.container1,
.container2,
.container3,
.container4,
.container5,
footer
	bw()
	background-size cover

.header__wrapper,
.hero,
.wrapper,
.pancakes,
.breakfast__wrapper,
.sandwich,
.foot
	bw()



	
.header
	height 150px

.header__wrapper
	dw()
	height 100%

.header__logo
	width 40%
	height 100%
	margin 0
	
.header__navi
	display none
	
.header__social
	display none
	
.hero 
	height auto
	line-height 1em

.hero__wrapper
	dw()
	line-height 1em

.hero__caption
	dw()
	line-height 1em
	font-size 60px
	letter-spacing 1px
	
.hero__line
	dw()
	
.hero__description
	dw()
	font-size 1.5em
	
.hero__button
	dw()

// ВРЕМЕННЫЙ ДИСПЛЕЙ	
.backery,	
.border,
.container2,
.container3,
.container4,
.container5,
footer
	display none