 .header__link
    margin 0 15px
    font-size 15px
.art__caption
    margin-bottom 20px
.art__we
    font-size 14px
.art__text
    font-size 16px
.art__cite
    width 300px
    font-size 25px
.left
    margin-right 30px
.right
    margin-left 30px
.pancakes__text
    font-size 18px
    line-height 1.5em
.pancakes__rating
    margin 30px 0 30px -2px
.pancakes__subtitle
    margin-bottom 40px
.pancakes__ready
    font-size 18px
.pancakes__mins
    font-size 18px
.breakfast__subtitle
    font-size 16px
    font-weight bold
.breakfast__onetitle,
.breakfast__twotitle,
.breakfast__threetitle
    font-size 20px
    font-weight bold
    letter-spacing 2px
.book__oneleft,
.book__oneright,
.book__twoleft,
.book__tworight,
.book__threeleft,
.book__threeright
    font-size 20px
.book__onecaption
    margin 150px auto 45px
.book__onetext
    font-size 16px
    width 380px
.sandwich__subtitle
    font-size 18px
.sandwich__left
    left 5px
    width 320px
    height 850px
.sandwich__minimap
    width 100%
    height 275px
.sandwich__icontext
    font-size 18px
.sandwich__what
    font-size 22px
.sandwich__subnum
    font-size 24px
.foot__wrapper
    font-size 16px
.foot__list-left-element
    margin 0 14px
    
.foot__list-right-element
    margin 0 14px