<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Bakery
	link(rel="shortcut icon", href="img/favicon.ico")
	link(rel="stylesheet", href="css/reset.min.css")
	link(rel="stylesheet", href="css/style.min.css")
body
	//- Меню
	.container1
		.header
			.header__wrapper
				a(href="https://ya.ru").header__logo
				.header__navi
					a(href="").header__link WELCOME
					span ~
					a(href="").header__link MENU
					span ~
					a(href="").header__link RESERVATIONS
					span ~
					a(href="").header__link NEWS
					span ~
					a(href="").header__link CONTACTS
				.header__social
					.header__icon
						a(href="").header__icon-link
					.header__icon
						a(href="").header__icon-link
					.header__icon
						a(href="").header__icon-link
		//- Главное
		.hero
			p.hero__caption
			p.hero__description
			.hero__button
				.hero__link


