<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Bakery
	link(rel="shortcut icon", href="img/favicon.ico")
	link(rel="stylesheet", href="css/reset.min.css")
	link(rel="stylesheet", href="css/style.min.css")
body
	//- Меню
	.container1
		.header
			.header__wrapper
				a(href="https://ya.ru").header__logo
				.header__social
					.header__icon
						a(href="").header__icon-link.header__icon-link_twitter
						a(href="").header__icon-link.header__icon-link_facebook
						a(href="").header__icon-link.header__icon-link_instagram
				.header__navi
					a(href="").header__link WELCOME
					span ~
					a(href="").header__link MENU
					span ~
					a(href="").header__link RESERVATIONS
					span ~
					a(href="").header__link NEWS
					span ~
					a(href="").header__link CONTACTS
				
		//- Главное
		.hero
			.hero__wrapper
				p.hero__caption.
					Pastry with love
				.hero__line
				p.hero__description.
					We’re bringing you fresh ingredients every day in ways you can’t resist.
				a(href="").hero__button OUR MENU
			.backery
	//- Переходная рамка
	.border
	//- Страница 2 
	.container2
		.wrapper
			.art
				.art__wrap
					h2.art__caption Art of cakes	#[p.art__we we create delicious memories]
					p.art__text.
						Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
					h2.art__chef Chef Cook
					.art__photo
						span.art__name Benito
						img.art__picture(src="img/avatar.png", alt="")
						span.art__name Gaspare
					.art__quote
						span.left “
						p.art__cite Unique creations for unique occasions.
						span.right ”
			.tastes
				.tastes__sogood
					.div.tastes__one.tastes__photo
					.div.tastes__two.tastes__photo
					.div.tastes__three.tastes__photo
					.div.tastes__four.tastes__photo
	

