<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Bella
	link(rel="stylesheet", href="css/reset.min.css")
	link(rel="stylesheet", href="css/style.min.css")
	
body
	//- БОШКА
	header
		div.head-inner 
			div.head-inner__logo
				span.head-inner__text Bella
			table.head-inner__navi
				tr
					td.head-inner__cols Team
					td.head-inner__cols Features
					td.head-inner__cols Pricing
					td.head-inner__cols Contact
	//- БИЛБОРД!!!
	div.billboard
		div.billboard__text
			b Bella 
			span Email Template
		div.billboard__button
			span.
				Get it Now 	&nbsp;&rarr;
	include include/footer.pug
	