<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Bakery
		link(rel="shortcut icon", href="img/favicon.ico")
		link(rel="stylesheet", href="css/reset.min.css")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="stylesheet", href="css/480css.min.css" media="only screen and (max-width: 480px)")
		link(rel="stylesheet", href="css/768css.min.css")
		script(defer src="js/first.js")
	body
		//- Меню
		.container1
			.header
				.header__wrapper
					a(href="https://ya.ru").header__logo
					.header__social
						.header__icon
							a(href="https://twitter.com").header__icon-link.header__icon-link_twitter
							a(href="https://facebook.com").header__icon-link.header__icon-link_facebook
							a(href="https://instagram.com").header__icon-link.header__icon-link_instagram
					.navi__button
						.header__navi
							a(href="https://ya.ru").header__link WELCOME
							span ~
							a(href="https://ya.ru").header__link MENU
							span ~
							a(href="https://ya.ru").header__link RESERVATIONS
							span ~
							a(href="https://ya.ru").header__link NEWS
							span ~
							a(href="https://ya.ru").header__link CONTACTS
					
			//- Главное
			.hero
				.hero__wrapper
					p.hero__caption.
						Pastry with love
					.hero__line
					p.hero__description.
						We’re bringing you fresh ingredients every day in ways you can’t resist.
					a(href="https://ya.ru").hero__button OUR MENU
				a(href="https://ya.ru").hero__button_phone OUR MENU
				.backery
		//- Переходная рамка
		.border
		//- Страница 2 
		.container2
			.wrapper
				.art
					.art__wrap
						h2.art__caption Art of cakes	#[p.art__we we create delicious memories]
						p.art__text.
							Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
						h2.art__chef Chef Cook
						.art__photo
							span.art__name Benito
							img.art__picture(src="img/avatar.png", alt="")
							span.art__name Gaspare
						.art__quote
							span.left “
							p.art__cite Unique creations for unique occasions.
							span.right ”
				.tastes.js__slide-contain
					.tastes__sogood.js__slide
						.div.tastes__one.tastes__photo.js__tastes-photo
						.div.tastes__two.tastes__photo.js__tastes-photo
						.div.tastes__three.tastes__photo.js__tastes-photo
						.div.tastes__four.tastes__photo.js__tastes-photo
		//- Страница 3
		.container3
			.pancakes
				.pancakes__wrapper
					.pancakes__widget
						.pancakes__description
							h2.pancakes__name Tasty pancakes
							p.pancakes__subtitle SEASON FAVOURITE
							p.pancakes__text.
								Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
							.pancakes__rating
								span.pancakes__star 
								span.pancakes__star
								span.pancakes__star
								span.pancakes__star
								span.pancakes__star.pancakes__star_none
							.pancakes__slider
								img.pancakes__icon(src="img/widget/3.jpg", alt="")
								img.pancakes__icon(src="img/widget/2.jpg", alt="")
								img.pancakes__icon(src="img/widget/1.jpg", alt="")
					.pancakes__minutes
						p.pancakes__ready READY IN
						p.pancakes__digits 40
						p.pancakes__mins mins
		//- Страница 4
		.container4
			.breakfast__wrapper
				.breakfast__price
					.breakfast__inline
						p.breakfast__caption Breakfast
						p.breakfast__subtitle 7AM BREAKFAST? WE'RE OPEN!
						a(href="https://ya.ru" title="full breakfast")
							p.breakfast__one Full breakfast
							p.breakfast__onetitle Duis ut tortor, et risus, vulputate pretium
							p.breakfast__onemoney $12.49
						a(href="https://ya.ru" title="Toast &#38; Jam")
							p.breakfast__two Toast &#38; Jam
							p.breakfast__twotitle Suspendisse, tempus, nterdum
							p.breakfast__twomoney $4.90
						a(href="https://ya.ru" title="Muffins")
							p.breakfast__three Muffins
							p.breakfast__threetitle Fusce eget dui sodales est
							p.breakfast__threemoney $3.95
				.book
					.book__wrapper
						.book__one
							p.book__oneyear
								span.book__oneleft EST.
								span.book__oneright 1893
							.book__oneicon
							p.book__onecaption Your morning Escape with Flair
							p.book__onetext Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
							.book__button READ
						.book__two
							p.book__twoyear
								span.book__twoleft EST.
								span.book__tworight 1893
							.book__twoicon
							p.book__twocaption Your morning Escape with Flair
							p.book__twotext Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
							.book__button READ
						.book__three
							p.book__threeyear
								span.book__threeleft EST.
								span.book__threeright 1893
							.book__threeicon
							p.book__threecaption Your morning Escape with Flair
							p.book__threetext Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
							.book__button READ
		//- Страница 5
		.container5
			.sandwich
					.sandwich__left
						.sandwich__minimap
							img.sandwich__icon(src="img/sandwich/class.jpg", alt="")
							p.sandwich__icontitle Class aptent
							p.sandwich__icontext Quot alienum persecuti ut eam, nam ad  atqui primis nusquam.
						.sandwich__minimap
							img.sandwich__icon(src="img/sandwich/nulla.jpg", alt="")
							p.sandwich__icontitle Nulla eget
							p.sandwich__icontext Nullam dictum felis eu pede mollis  pretium Integer tincidunt.
						.sandwich__minimap
							img.sandwich__icon(src="img/sandwich/sed.jpg", alt="")
							p.sandwich__icontitle Sed nibh purus
							p.sandwich__icontext  Aenean eleifend tellus leo ligula,  porttitor eu, consequat vitae.
					.sandwich__caption
						p.sandwich__title The Jibarito sandwich
						p.sandwich__subtitle THE BEST SANDWICH YOU'VE EVER TASTED!
					.sandwich__recipe
						a(href="https://ya.ru")
							p.sandwich__button FULL RECIPE
						.sandwich__mins
							.sandwich__prep
								.sandwich__mins-wrap
									p.sandwich__what PREP
									p.sandwich__num 15
									p.sandwich__subnum mins
							.sandwich__cook
								.sandwich__mins-wrap
									p.sandwich__what COOK
									p.sandwich__num 35
									p.sandwich__subnum mins
							.sandwich__ready
								.sandwich__mins-wrap
									p.sandwich__what READY IN
									p.sandwich__num.sandwich__num_gold 50
									p.sandwich__subnum mins
		//- Страница 6
		footer
			.foot
				.foot__wrapper
					ul.foot__list-left
						a.foot__list-left-element(href='https://ya.ru')
							li OUR MENU
						li.foot__list-left-element.foot__list-element_none ~
						a.foot__list-left-element(href='https://ya.ru')
							li GALLERY
						li.foot__list-left-element.foot__list-element_none ~
						a.foot__list-left-element(href='https://ya.ru')
							li CULTURE
					a.foot__logo(href='https://ya.ru') Gustoso
					ul.foot__list-right
						a.foot__list-left-element(href='https://ya.ru')
							li EVENTS
						li.foot__list-right-element.foot__list-element_none ~
						a.foot__list-left-element(href='https://ya.ru')
							li CATERING
						li.foot__list-right-element.foot__list-element_none ~
						a.foot__list-left-element(href='https://ya.ru')
							li VISIT US
								
